*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#navbar{
    display: flex;
    flex-direction: row;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    margin-bottom: 20px;
    padding: 0.3vh 2vw 0.3vh 1vw;
    background-color: #474954;
    color: white;
    height: 10%;
}

.navbar-1{
    flex: 2;
}
.navbar-2 {
    flex: 3;
}

.icon{
    float: left;
}

#navbar h1 {
    margin-top: 1vh;
}

#navbar nav ul li{
    float: right;
    list-style-type: none;
    margin: 1vw;
}


nav ul li a {
    display: inline-block;
    position: relative;
    color: #0087ca;
    padding: 0.5vh 0.3vw 0.5vh 0.3vw;
    text-decoration: none;
    color: white;
}

 nav ul li a:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: silver;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

nav ul li a:not(.noline):hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.active {
border-bottom: 2px solid #909090;
}

#navbar li .dropdown{
    display: inline-block;
}

#navbar .dropdown-content{
    display: none;
    position: absolute;
    min-width: 100px;
    z-index: 1;
}

#navbar .dropdown-content a{
    padding: 12px 16px;
    display: block;
    text-align: left;
    transition: background-color 1.5s;
}

#navbar .dropdown:hover .dropdown-content{
    display: block;
}

#navbar .dropdown-content a:hover{
    background-color: #474954;
    cursor: pointer;
}

#navbar .dropdown-content {
    background-color: #909090;
}

#button {
    display: none;
    float: right;
}

#button:hover {
    cursor: pointer;
}

#nav-clicked{
    display: none;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #474954;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

#nav-clicked .nav-clicked-1 h1{
    font-size: 25px;
    padding-top: 20px;
    color: white;
}

#nav-clicked-button {
    float: right;
    padding-right: 20px;
    filter: invert(1);
}

#nav-clicked-button:hover {
    cursor: pointer;
}

#nav-clicked .nav-clicked-2 nav {
    width: 100%;
}

#nav-clicked .nav-clicked-2 nav ul {
    list-style-type: none;
    font-size: 20px;
}

#nav-clicked .nav-clicked-2 nav ul li a{
    display: block;
    padding: 10px;
    padding-left: 50px;
}

#alkohol-clicked{
    display: none;
    width: 100%;
    background-color: black;
    padding-left: 30px;
}

#alkohol-clicked a {
    transition: 1s background-color;
}

#alkohol-clicked a:hover {
    background-color: #474954;
    cursor: pointer;
}

#alkohol-block{
    display: flex;
    flex-direction: row;
}

.alkohol-block-1{
    flex: 90%;
}

.alkohol-block-2 {
    flex: 10%;
}

#nav-clicked-alkohol{
    padding-right: 10px;
    padding-top: 10px;
    float: right;
    cursor: pointer;
}

@media screen and (max-width: 992px){
    #button {
        display: block;
        margin: 20px;
    }

    #navbar nav {
        display: none;
    }

    .navbar-1 {
        flex: 90%;
    }

    .navbar-2 {
        flex: 10%;
    }

    #navbar h1 {
        margin-top: 2vh;
        font-size: 25px;
    }
}


